# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Django
/staticfiles/
/media/
*.log

# Environments
.venv/
.env
.env.*

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Migrations cache (keep actual migrations files)
**/__pycache__/
